.crop-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.crop-footer ul,
.crop-footer li{
    list-style: none;
}

.crop-footer li{
    display: inline-block;
    margin-left: 10px;
}