<header>
    <nav class="navbar navbar-inverse navbar-static-top ocr-navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">XXX系统</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">首页</a></li>
                    <li><a href="crop.html">功能页</a></li>
                    <li><a href="#">其它</a></li>
                    <li><a href="#">浏览历史</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            关于<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">帮助</a></li>
                            <li><a href="#">使用手册</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            小明
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人信息</a></li>
                            <li><a href="#">修改信息</a></li>
                            <li><a href="#">修改密码</a></li>
                        </ul>
                    </li>
                    <li><a href="#">退出</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>